{% extends "admin.html" %}
{% block title %}Admin{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
	{{ parent() }}
	<div class="page admin-blog content-usuario">
		<div>
			<p class="titulo">Artículos del blog</p>
			<div class="responses">

			</div>
			<!--input type="search" placeholder="buscar" class="search"-->
			<a href="{{ base_path }}admin/blog/post/new" class="plusUser">+ Agregar artículo</a>
			<table id="postList">
				<thead>
					<tr class="back-white">
						<td>Nombre del artículo</td>
						<td></td>
					</tr>
				</thead>
				<tbody>
				{% for post in posts %}
					<tr>
						<td class="viewsite"><a href="{{ base_path }}blog/nota/{{ post.url_tag }}">{{post.post_title}}</a></td>
						<td class="editInput"><a href="{{ base_path }}admin/blog/post/{{ post.post_id }}">editar</a></td>
					</tr>
				{% else %}
					<tr>
						<td class="none">Aún no has creado una entrada del blog.</td>
						<td></td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<div class="agregarUsuario">
		<form class="datosUsuario microsite" id="newPostForm">
			<a href=""><img src="{{ base_path }}img/body/close.png" class="close"></a>
	    	<label>Título del artículo</label>
			<input id="postTitle" type="text" placeholder="Título del artículo" class="edit_input">
	      	<label>Imagen del artículo</label>
	      	<input type="file">
			<label>Contenido del artículo</label>
			<textarea id="postContent" placeholder="Descripción" class="post_content"></textarea>
	      	<!--div class="user addSite">Guardar como borrador</div-->
			<div class="user addSite">Publicar</div>
		</form>	
	</div>
	<div class="editarUsuario">
		<form class="datosUsuario microsite" id="editPostForm">
			<input id="e_post_id" type="hidden" value="">
			<a href=""><img src="{{ base_path }}img/body/close.png" class="close"></a>
	    	<label>Título del artículo</label>
			<input id="e_post_title" type="text" placeholder="Título del artículo" class="edit_input">
	      	<label>Imagen del artículo</label>
	      	<input type="file" id="e_post_image">
			<label>Contenido del artículo</label>
			<textarea id="e_post_content" placeholder="Descripción" class="post_content"></textarea>
	      	<!--div class="user addSite">Guardar como borrador</div-->
			<div class="user updatePost">Actualizar</div>
		</form>	
	</div>
{% endblock %}
