{% extends "admin.html" %}
{% block title %}Admin{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
	{{ parent() }}
	<div class="page admin-sites content-usuario">
		<div>
			<p class="titulo">Micrositios</p>
			<div class="responses">
				
			</div>
			<input type="search" placeholder="buscar" class="search">
			<a href="" class="plusUser">+ Agregar micrositio</a>
			<table id="sitesList">
				<thead>
					<tr class="back-white">
						<td>Nombre de usuario</td>
						<td></td>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
	</div>
	<div class="agregarUsuario">
		<form class="datosUsuario microsite" id="newSiteForm">
			<a href=""><img src="./img/body/close.png" class="close"></a>
			<label>Correo del Usuario</label>
			<input id="siteUserEmail" type="mail" placeholder="Correo del usuario" class="edit_input">
			<label>Encabezado</label>
			<input id="siteName" type="text" placeholder="Nombre del sitio" class="edit_input">
			<label>URl para el sitio</label>
			<input id="siteUrl" type="text" placeholder="Nombre del sitio" class="edit_input">
			<label>Descripción</label>
			<textarea id="siteContent" placeholder="Descripción" class=""></textarea>
			<label>Localidad</label>
			<select name="" id="siteState" placeholder="Selecciona un Estado" class="edit_input">
				<option value="1">Aguascalientes</option>
				<option value="2">Baja California</option>
				<option value="3">Baja California Sur</option>
				<option value="4">Aguascalientes</option>
				<option value="5">Aguascalientes</option>
				<option value="6">Aguascalientes</option>
				<option value="7">Aguascalientes</option>
				<option value="8">Aguascalientes</option>
				<option value="9">Aguascalientes</option>
				<option value="10">Aguascalientes</option>
				<option value="11">Aguascalientes</option>
				<option value="12">Aguascalientes</option>
				<option value="13">Aguascalientes</option>
				<option value="14">Aguascalientes</option>
				<option value="15">Aguascalientes</option>
				<option value="16">Aguascalientes</option>
				<option value="17">Aguascalientes</option>
				<option value="18">Aguascalientes</option>
				<option value="19">Aguascalientes</option>
				<option value="20">Aguascalientes</option>
				<option value="21">Aguascalientes</option>
				<option value="22">Aguascalientes</option>
				<option value="23">Aguascalientes</option>
				<option value="24">Aguascalientes</option>
				<option value="25">Aguascalientes</option>
				<option value="26">Aguascalientes</option>
				<option value="27">Aguascalientes</option>
				<option value="28">Aguascalientes</option>
				<option value="29">Aguascalientes</option>
				<option value="30">Aguascalientes</option>
				<option value="31">Aguascalientes</option>
				<option value="32">Aguascalientes</option>
			</select>
			<label>Dirección</label>
			<input id="siteAddress" type="text" placeholder="Dirección" class="edit_input">
			<label>Teléfono</label>
			<input id="siteTelephone" type="number" placeholder="Teléfono" class="edit_input">
			<div class="user addSite">Crear Micrositio</div>
		</form>
	</div>
	<div class="editarUsuario">
		<form class="datosUsuario microsite update-site" id="newSiteForm">
			<a href=""><img src="./img/body/close.png" class="close"></a>
			<label>Encabezado</label>
			<input id="e_siteName" type="text" placeholder="Nombre del sitio" class="edit_input">
			<input id="e_siteUrl" type="hidden" placeholder="Nombre del sitio" class="edit_input">
			<label>Descripción</label>
			<textarea id="e_siteContent" placeholder="Descripción" class=""></textarea>
			<label>Localidad</label>
			<select name="" id="siteState" placeholder="Selecciona un Estado" class="edit_input">
				<option value="1">Aguascalientes</option>
				<option value="2">Baja California</option>
				<option value="3">Baja California Sur</option>
				<option value="4">Aguascalientes</option>
				<option value="5">Aguascalientes</option>
				<option value="6">Aguascalientes</option>
				<option value="7">Aguascalientes</option>
				<option value="8">Aguascalientes</option>
				<option value="9">Aguascalientes</option>
				<option value="10">Aguascalientes</option>
				<option value="11">Aguascalientes</option>
				<option value="12">Aguascalientes</option>
				<option value="13">Aguascalientes</option>
				<option value="14">Aguascalientes</option>
				<option value="15">Aguascalientes</option>
				<option value="16">Aguascalientes</option>
				<option value="17">Aguascalientes</option>
				<option value="18">Aguascalientes</option>
				<option value="19">Aguascalientes</option>
				<option value="20">Aguascalientes</option>
				<option value="21">Aguascalientes</option>
				<option value="22">Aguascalientes</option>
				<option value="23">Aguascalientes</option>
				<option value="24">Aguascalientes</option>
				<option value="25">Aguascalientes</option>
				<option value="26">Aguascalientes</option>
				<option value="27">Aguascalientes</option>
				<option value="28">Aguascalientes</option>
				<option value="29">Aguascalientes</option>
				<option value="30">Aguascalientes</option>
				<option value="31">Aguascalientes</option>
				<option value="32">Aguascalientes</option>
			</select>
			<label>Dirección</label>
			<input id="e_siteAddress" type="text" placeholder="Dirección" class="edit_input">
			<label>Teléfono</label>
			<input id="e_siteTelephone" type="number" placeholder="Teléfono" class="edit_input">
			<div class="user updateSite">Actualizar Información</div>
		</form>
	</div>
{% endblock %}