{% extends "admin.html" %}
{% block title %}Admin{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
	{{ parent() }}
	<div class="page admin-users content-usuarioAdmin">
		<div class="profile">
			<div>
				<img src="{{ base_path }}img/body/brokerImg.png">
			</div>
			<div>
				<p>{{ user.name }}</p>
				<p>{{ user.company }}</p>
				<p>{{ user.email }}</p>
				<p>{{ user.phone }}</p>
			</div>
		</div>
		<div class="sites">
			<input type="search" placeholder="buscar" class="search">
			<a href="" class="plusUser"><span></span>+ Agregar sitio</a>
			<p>Sitios</p>
			<div class="">
				<div class="container-sites">
					{% for site in sites %}
					<div class="site">
						<div>
							<p>{{ site.title }}</p>
							<a href="{{ base_path }}{{ site.url }}">visitar sitio</a>
						</div>
						<div>
							<ul>
								<li><a href="#edit">Editar</a></li>
								<li><a href="#delete" class="delete">Eliminar</a></li>
							</ul>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}