{% extends "admin.html" %}
{% block title %}Admin{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
	{{ parent() }}
	<div class="page user-sites content-usuarioAdmin">
		<div class="profile">
			<div>
				{% if user.profile_image %}
				<div style="margin-right: 20px; width: 150px; height: 150px; border-radius: 50%; background-size: cover; background-image: url({{ user.profile_image }})"></div>
				{% else %}
				<div style="margin-right: 20px; width: 150px; height: 150px; border-radius: 50%; background-size: cover; background-image: url({{ base_path }}img/body/brokerImg.png)"></div>
				{% endif %}
			</div>
			<div>
				<p>{{ user.name }}</p>
				<p>{{ user.company }}</p>
				<p>{{ user.email }}</p>
				<p>{{ user.phone }}</p>
			</div>
		</div>
		<div class="sites">
			<!--input type="search" placeholder="buscar" class="search"-->
			<a href="" class="plusUser"><span></span>+ Agregar sucursal</a>
			<div class="responses"></div>
			<p class="titulo micrositioAdmin">Micrositio</p>
			<div class="container-sites">
				<div class="site">
					<div>
						<p class="sitiotituloAdmin">{{ site.title }}</p>
						<a target="_blank" href="{{ base_path }}{{ site.url }}" class="visitSite">visitar sitio</a>
					</div>
					<div>
						<ul>
							<li><a class="edit" data-site="{{ site.id }}" href="#edit">Editar</a></li>
							<li><a class="delete" data-site="{{ site.id }}" href="#delete">Eliminar</a></li>
						</ul>
					</div>
				</div>
			</div>
			<p class="titulo micrositioAdmin">Sucursales</p>
			<div class="container-sites">
			{% if branches.total > 0 %}
				{% for site in branches.items %}
				<div class="site">
					<div>
						<p class="sitiotituloAdmin">{{ site.title }}</p>
						<a target="_blank" href="{{ base_path }}{{ site.url }}" class="visitSite">visitar sitio</a>
					</div>
					<div>
						<ul>
							<li><a class="edit" data-site="{{ site.id }}" href="#edit">Editar</a></li>
							<li><a class="delete" data-site="{{ site.id }}" href="#delete">Eliminar</a></li>
						</ul>
					</div>
				</div>
				{% endfor %}
			{% else %}
			<div class="none">Este sitio aún no cuenta con sucursales registradas.</div>
			{% endif %}
			</div>
		</div>
	</div>
	{% include 'components/add-user.html' %}
	{% include 'components/edit-user.html' %}
{% endblock %}