{% extends "admin.html" %}
{% block title %}Admin{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
	{{ parent() }}
	<div class="page admin-users content-usuario">
		<div>
			<p class="titulo">Usuarios</p>
			<div class="responses"></div>
			<form method="GET">
				<input type="text" name="search" placeholder="Keyword" class="search">
				<input type="submit" value="Buscar" class="user">
			</form>
			<a href="" class="plusUser"><span></span>+ Agregar usuario</a>
			<div class="containerOffices">
				{% for user in users %}
				<div class="cardOffices {{ user.id_role == 3 ? 'subsidiary':'' }}">
					<div class="offices">
						<div>
							{% if user.profile_image %}
							<div style="width: 100px; height: 100px; border-radius: 50%; background-size: cover; background-image: url({{ user.profile_image }})"></div>
							{% else %}
							<div style="width: 100px; height: 100px; border-radius: 50%; background-size: cover; background-image: url({{ base_path }}img/body/brokerImg.png)"></div>
							{% endif %}
						</div>
						<div class="adminControls">
							<p>{{ user.name }}</p>
							<p>{{ user.company }}</p>
						</div>
					</div>
					<ul>
						<li><a data-user="{{ user.id }}" class="editInput" href="#edit">Editar</a></li>
						<li><a href="{{ base_path }}admin/users/{{ user.id }}/sites">Ver sitios</a></li>
						<li><a data-user="{{ user.id }}" class="delete" href="#delete">Eliminar</a></li>
					</ul>
				</div>
                {% endfor %}
			</div>
		</div>
	</div>
	<div class="agregarUsuario">
		<form class="datosUsuario">
			<a href=""><img src="{{ base_path }}img/body/close.png" class="close"></a>
			<div class="container">
				<div class="col-6 col-center col-middle col-flex">
					<div class="profile-image" id="user_image"></div>
				</div>
				<div class="col-6">
					<div class="dragdrop"></div>
				</div>
			</div>
			<input type="text" placeholder="Nombre" id="user_name" name="user_name">
			<input type="text" placeholder="Compañia" id="user_company" name="user_company">
			<input type="text" placeholder="Correo" id="user_email" name="user_email">
			<input type="password" placeholder="Password" id="user_password" name="user_password">
			<input type="password" placeholder="Confirmar password" id="confirm_password" name="user_confirm">
			<div class="user registerUserform">Agregar usuario</div>
		</form>
	</div>
	<div class="editarUsuario">
		<form class="datosUsuario">
			<a href=""><img src="{{ base_path }}img/body/close.png" class="close"></a>
			<div class="container">
				<div class="col-6 col-center col-middle col-flex">
					<div class="profile-image" id="e_user_image"></div>
				</div>
				<div class="col-6">
					<div class="dragdrop"></div>
				</div>
			</div>
			<input type="text" placeholder="Nombre" id="e_user_name" name="name">
			<input type="text" placeholder="Compañia" id="e_user_company" name="company">
			<input type="text" placeholder="Correo" id="e_user_email" name="email">
			<input type="password" placeholder="Nuevo password" id="e_user_password" name="password">
			<input type="password" placeholder="Confirmar nuevo password" id="e_password_confirm" name="password_confirm">
			<input type="hidden" id="e_user_id">
			<div class="update-user user">Editar usuario</div>
		</form>
	</div>
{% endblock %}
