<div class="agregarUsuario">
	<form class="datosUsuario microsite" id="newSiteForm">
		<a href=""><img src="{{ base_path }}img/body/close.png" class="close"></a>
		{% if is_admin == false %}
		<input type="hidden" name="origin" value="user">
		{% endif %}
		<!--input id="userID" name="user_id" type="hidden" value="{{ user.id }}" /-->
		<input type="hidden" name="site_id" value="{{ site.id }}">
		<label>Nombre del admin</label>
		<input id="siteAdminName" name="admin_name" type="text" placeholder="Nombre del administrador" class="edit_input">
		<label>Correo del admin</label>
		<input id="siteAdminMail" name="admin_email" type="text" placeholder="Correo del administrador" class="edit_input">
		<label>Password del admin</label>
		<input id="siteAdminPwd" name="admin_password" type="password" class="edit_input">
		<label>Nombre del sitio</label>
		<input id="siteName" name="title" type="text" placeholder="Nombre del sitio" class="edit_input">
		<label>Descripción</label>
		<textarea id="siteContent" name="content" placeholder="Descripción" class=""></textarea>
		<!--label>Imagenes del slider</label>
	    <br /><img class="preview1" width="400" src=""><br />
	    <div class="dragdrop slider1"></div>
	    <br /><img class="preview2" width="400" src=""><br />
	    <div class="dragdrop slider2"></div>
	    <br /><img class="preview3" width="400" src=""><br />
	    <div class="dragdrop slider3"></div-->
	    <label>Bullets</label>
	    <div class="container">
	    	<div class="col-4">
	    		<img class="preview" src="">
	    		<div class="dragdrop"></div>
	    		<textarea name="support_quote[0]"></textarea>
	    	</div>
	    	<div class="col-4">
	    		<img class="preview" src="">
	    		<div class="dragdrop"></div>
	    		<textarea name="support_quote[1]"></textarea>
	    	</div>
	    	<div class="col-4">
	    		<img class="preview" src="">
	    		<div class="dragdrop"></div>
	    		<textarea name="support_quote[2]"></textarea>
	    	</div>
	    </div>
		<label>Estado</label>
		<select id="siteState" name="state_id" placeholder="Selecciona un Estado" class="edit_input">
			<option value="-1">Selecciona un estado</option>
		{% for key,value in states %}
      		<option value="{{ value.id }}">{{ value.name }}</option>
  		{% endfor %}
		</select>
		<label>Ciudad</label>
		<input id="siteCity" name="city" type="text" placeholder="Ciudad" class="edit_input">
		<label>Colonia</label>
		<input id="siteSettlement" name="settlement" type="text" placeholder="Colonia" class="edit_input">
		<label>Dirección</label>
		<input id="siteAddress" name="address" type="text" placeholder="Dirección" class="edit_input">
		<label>Coordenadas</label>
		<input id="siteLatlon" name="latlon" type="text" placeholder="Locación" class="edit_input">
		<label>Teléfonos (Separados por una coma)</label>
		<input id="siteTelephone" name="phones" type="tel" placeholder="Teléfono" class="edit_input">
		<label>Emails (Separados por una coma)</label>
		<input id="siteMails" name="emails" type="text" placeholder="Correos Electrónicos" class="edit_input">
		<div class="user addSite">Crear Micrositio</div>
	</form>
</div>