<div class="footer">
    <!--p class="tel">Área Metropolitana:<a href="tel:0155.5256.5770"> 01 55 1102 4511 </a></p-->
    <ul>
        <li>
            <a href="https://www.facebook.com/SOCAsesores/?ref=ts&fref=ts" target="_blank">
                <img src="{{ base_path }}img/footer/face.png">
            </a>
        </li>
        <li>
            <a href="https://twitter.com/SOCasesores?lang=es" target="_blank">
                <img src="{{ base_path }}img/footer/tw.png">
            </a>
        </li>
        <li>
            <a href="https://www.youtube.com/channel/UCUzn3H-tWe8vrveeYDKqJGw" target="_blank">
                <img src="{{ base_path }}img/footer/ytube.png">
            </a>
        </li>
        <li>
            <img src="{{ base_path }}img/body/condusef.png" class="condu">
        </li>
    </ul>
    <p>Área Metropolitana: <a href="tel:0155.5256.5770">01 55 1102 4511 </a></p>
    <p class="direccion">Hamburgo 227, Colonia Juárez, Delegación Cuauhtémoc, México D.F. 06600 </p>
    <p class="terminos">SOC 2014 <a onclick="showModal('aviso')">AVISO DE PRIVACIDAD</a>, <a onclick="showModal('termino')">TÉRMINOS Y CONDICIONES</a></p>
</div>
<div class="gradient"></div>
<div id="siteModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->