<head>
    <link rel="icon" type="image/png" href="{{ base_path }}img/logoSOC.ico" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="Créditos Hipotecarios, te asesoramos, perfilamos, comparamos y trami
    crédito ideal, los 7 días de la semana.">
    <meta name="keywords" content="credito hipotecario, broker hipotecario, hipoteca, asesor hipotecario, s
    crédito hipotecario, soc, credito infonavit, credito para casa">
    <meta name="author" content="SOC Asesores Hipotecarios">
    <meta property="og:image" content="//www.socasesores.com/img/soc/soc_logo.png" />
    <meta name="alexaVerifyID" content="M63bVzWUB51g0Np60Eu9G5KYdt0"/>
    <title>SOC | Asesores Hipotecarios</title>
    <link rel="stylesheet" href="{{ base_path }}css/bootstrap.css">
    <link rel="stylesheet" href="{{ base_path }}css/museo/museo.css">
    <link rel="stylesheet" href="{{ base_path }}css/style.css">
</head>
