<div class="menu-header">
    <a href="{{ root_url }}"><img src="./img/head/logo.png" class="logo"></a>
    <p>En <span>SOC</span> cumplimos 15 años generando sonrisas</p>
    <a href="" class="menu"><img src="./img/body/menu.png"></a>
    <a href="" class="menu close"><img src="./img/body/menuClose.png"></a>
    <div class="contentMenu">
        <ul>
            <li><a href="">Conócenos</a></li>
            <li><a href="">Perfilador</a></li>
            <li><a href="">Productos</a></li>
            <li><a href="">Directorio de oficinas</a></li>
            <li><a href="">SOC Tips</a></li>
            <li><a href="">Blog</a></li>
            <li><a href="">Contacto</a></li>
        </ul>
    </div>
</div>