<div class="container_menu">
    <a href="{{ links.p_home }}"><img src="{{ base_path }}img/head/logo2.png"></a>
    <ul>
        <li><a href="{{ links.p_home }}">Home</a></li>
        <li><a href="{{ links.p_soc }}">SOC</a></li>
        <li>
            <a>Productos</a>
            <ul class="submenu">
                <li><a href="{{ links.p_products_mortgage }}">Hipotecarios</a></li>
                <li><a href="{{ links.p_products_enterprise }}">Empresas</a></li>
            </ul>
        </li>
        <!--li><a href="{{ links.p_offices }}">Oficinas</a></li-->
        <li><a href="{{ links.p_tips }}">SOC tips</a></li>
        <li><a href="{{ links.p_blog }}">Blog</a></li>
        <li><a href="{{ links.p_contact }}">Contacto</a></li>
    </ul>
    <div class="frase">
        <h1>Líder en Asesoría Hipotecaria en México</h1>
    </div>
</div>
<!-- Menú para celular -->
<div class="menuMobile">
    <div>
        <a href="{{ links.p_home }}"><img src="{{ base_path }}img/head/logo2.png" class="logoM"></a>
        <a href=""><img src="{{ base_path }}img/head/menu.png" class="iconMenu"></a>
        <a href=""><img src="{{ base_path }}img/head/close.png" class="iconMenuClose"></a>
    </div>
    <div class="contentMenuCel">
        <div>
            <a href="{{ links.p_home }}">Home</a>
            <a href="{{ links.p_soc }}">SOC</a>
            <a href="" class="opcionesPro">Productos</a>
            <div class="hiem">
                <a href="{{ links.p_products_mortgage }}">Hipotecarios</a>
                <a href="{{ links.p_products_enterprise }}">Empresas</a>
            </div>
            <!--a href="{{ links.p_offices }}">Oficinas</a-->
            <a href="{{ links.p_tips }}">SOC tips</a>
            <a href="{{ links.p_blog }}">Blog</a>
            <a href="{{ links.p_contact }}">Contacto</a>
            <a href="" class="submenuCel">Submenu</a>
            <div class="contenidoSubmenu">
                <a href="/admin">Acceso asesor</a>
                <a href="/inmobiliarias">Inmobiliarias</a>
                <a href="/franquicia">Franquicia</a>
                <a href="medios.php">Prensa</a>
                <a href="http://propiedades.com/">Propiedades.com</a>
                <a href="soc_premia.html">SOCpremia</a>
            </div>
        </div>
    </div>    
</div>