<div class="container_menu">
    <a href="{{ links.p_home }}"><img src="{{ base_path }}img/head/logo2.png"></a>
    <ul>
        <li><a href="{{ links.p_home }}">Home</a></li>
        <li><a href="{{ links.p_soc }}">SOC</a></li>
        <li>
            <a>Productos</a>
            <ul class="submenu">
                <li><a href="{{ links.p_products_mortgage }}">Hipotecarios</a></li>
                <li><a href="{{ links.p_products_enterprise }}">Empresas</a></li>
            </ul>
        </li>
        <li><a href="{{ links.p_offices }}">Oficinas</a></li>
        <li><a href="{{ links.p_tips }}">SOC tips</a></li>
        <li><a href="{{ links.p_blog }}">Blog</a></li>
        <li><a href="{{ links.p_contact }}">Contacto</a></li>
    </ul>
    <div class="frase">
        <h1>Líder en Asesoría Hipotecaria en México</h1>
    </div>
</div>