{% extends "main.html" %}

{% block title %}Franquicias{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
{% include 'components/menu-header.html' %}
<div class="franquicia">
	<div>
		<p class="title_section">Franquicias</p>
		<div></div>
		<p>Únete a la red de Brokers Hipotecarios más grande de México</p>
	</div>
</div>
<div class="container_franquicia">
    <h2>Somos el primer Bróker Hipotecario en México ¡Garantizado!.</h2>
    <div class="row">
        <div class="col-md-6">
            <p><strong>SOC</strong>, es una compañía mexicana dedicada a analizar las diferentes alternativas hipotecarias que ofrecen las instituciones financieras, contamos con un modelo de negocio especializado en consultoría y gestión de productos de crédito.
            El objetivo principal es ofrecer un servicio de la más alta calidad asesorando a cada cliente según sus necesidades en uno de los momentos más importantes de su vida ¡Comprar una casa!
            Con este modelo lograrás desarrollar un negocio sólido con altos ingresos y amplia capacidad de crecimiento.</p>
            <p></p>
            <br>
            <p class="titleFranquicia">Beneficios</p>
            <ul>
                <li>Asesoría por especialistas que resolverán todas tus dudas en: </li>
            </ul>
            <p class="textoBeneficio">- <strong>Tecnología y sistemas.</strong> Soporte personalizado.</p>
            <p class="textoBeneficio">- <strong>Universidad SOC.</strong> Capacitación continua impartida a través de plataformas tecnológicas: webinars, e-learning y biblioteca virtual. </p>
            <p class="textoBeneficio">- <strong>Mercadotecnia y eventos:</strong> Desarrollo de estrategias de lealtad para atracción de clientes, diseño de herramientas de ventas, alianzas estratégicas con marcas líderes del segmento, ferias a nivel nacional, workshops y convenciones.</p>
            <br>
            <ul>
                <li>Alianzas con los Bancos más importantes, garantizando un tiempo de respuesta de 24 horas:</li>
            </ul>
            <br>
        </div>
        <div class="col-md-6">
            <div class="space">
                <p class="bold"><strong>Inversión Total:</strong> <br>
                $250,000.00*</p>

                <p class="bold"><strong>Desembolso Inicial:</strong> <br>
                        $150,000.00</p>

                <p class="bold"><strong>Plan de Financiamiento hasta 12 Meses sin intereses</strong></p>

                <p class="bold"><strong>Recuperación de inversión:</strong> <br>
                        A partir del mes 18 aproximadamente</p>

                <p class="bold"><strong><small> Pregunta por el descuento si tu intención es adquirirla al contado</small></strong></p>
            </div>
            <br>
            <div class="space">
                <p class="titleFranquicia">Plazas</p>
                <p>Contamos con la mayor red de franquicias en toda la República Mexicana, tenemos plazas disponibles y con muchas oportunidades de crecimiento. La oportunidad de una franquicia en el sector hipotecario es inmejorable en el entorno económico del país. </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
