{% extends "main.html" %}

{% block title %}Créditos Hipotecarios{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
{% include 'components/menu-header.html' %}
<div class="empresas">
	<div>
		<p class="title_section">Financiamiento empresarial</p>
		<div></div>
		<p>Resolvemos las necesidades de financiamiento de tu empresa.</p>
	</div>
</div>
<div class="container_empresas">
	<div class="container-fluid content-home">
	    <div class="container container-productos">
	        <div class="col-md-6 col-productos-icon">
	            <h4>Crédito hipotecario <span>empresarial.</span></h4>
	            <p><img src="{{ base_path }}img/body/logo_empresarial.png"></p>
	        </div>
	        <div class="col-md-6 col-productos-desc">
	            <p class="frase">“Adquiere tu oficina, consultorio o nave industrial”.</p>
	            <p>Compra a crédito cualquier inmueble comercial o industrial para tu empresa. La tasa es fija y el plazo de hasta diez años. El inmueble puede ser nuevo o usado y la institución puede financiarte hasta el 75% de su valor. </p>
	        </div>
	    </div>
	</div>
	
	<div class="container-fluid content-home content-odd">
	    <div class="container container-productos">
	        <div class="col-md-6 col-productos-icon">
	            <h4>Crédito <span>revolvente.</span></h4>
	            <p><img src="{{ base_path }}img/body/logo_revolvente.png"></p>
	        </div>
	        <div class="col-md-6 col-productos-desc">
	            <p class="frase">“¿Tu empresa requiere mayor liquidez en momentos estratégicos?”. </p>
	            <p>Una línea de crédito revolvente te da posibilidad de contar con recursos en el momento en que los necesites. La institución financiera le otorga a tu empresa una línea abierta de la que puede disponer en cualquier momento. Al finalizar el mes le requerirá el pago de los intereses causados por el saldo pendiente. La operación de una línea de crédito revolvente es muy parecida a la de una tarjeta de crédito personal.<br><br>Ideal para aprovechar oportunidades de mercado o realizar pagos emergentes.</p>
	        </div>
	    </div>
	</div>
	
	<div class="container-fluid content-home">
	    <div class="container container-productos">
	        <div class="col-md-6 col-productos-icon">
	            <h4>Crédito <span>simple.</span></h4>
	            <p><img src="{{ base_path }}img/body/logo_simple.png"></p>
	        </div>
	        <div class="col-md-6 col-productos-desc">
	            <p class="frase">¿Tu empresa necesita recursos para echar andar un proyecto?.</p>
	
	            <p>Un crédito simple es un financiamiento que se otorga cuando la empresa tiene claro el objetivo de los recursos. Se dispone en una sola exhibición y se liquida en un periodo determinado. Su operación es similar a la de un crédito personal. Ideal para desarrollar proyectos productivos o sustituir deudas con proveedores o terceros.</p>
	
	        </div>
	    </div>
	</div>
	
	<div class="container-fluid content-home content-odd">
	    <div class="container container-productos">
	        <div class="col-md-6 col-productos-icon">
	            <h4>Crédito para <span>arrendamiento.</span></h4>
	            <p><img src="{{ base_path }}img/body/logo_arrendamiento.png"></p>
	        </div>
	        <div class="col-md-6 col-productos-desc">
	            <p class="frase">“Renta los activos que se deprecian y compra los que se aprecian”.</p>
	
	            <p>Un arrendamiento te da oportunidad de rentar prácticamente cualquier activo que tu empresa necesita. Maquinaria, equipo de transporte, computo, equipo especializado, etc. <br><br>La arrendadora adquiere el activo que tú necesitas y te lo renta por un periodo determinado. Al finalizar, tú decides si se lo compras a un precio preferencial o se lo devuelves. El principal beneficio del arrendamiento es que se considera un gasto y por lo tanto es deducible de impuestos.</p>
	
	        </div>
	    </div>
	</div>
</div>
{% endblock %}