{% extends "main.html" %}

{% block title %}Inmobiliarias{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
{% include 'components/menu-header.html' %}
<div class="page inmobiliaria">
	<div>
		<p class="title_section">Inmobiliarias</p>
		<div></div>
		<p>Hagamos equipo</p>
		<a href="REmagazine.html" target="_blank" class="magazine">Visita nuestra revista digital aquí</a>
	</div>
</div>
<div class="container_inmobiliaria">
	<div class="container container-inmobiliaria">
	    <div class="col-md-6 col-inmobiliarias-icon">
	        <h4>¿Por qué SOC?</h4>
	    </div>
	    <div class="col-md-6 col-inmobiliarias-desc">
	        <p>Alíate con el equipo de brokers hipotecarios más grande de México. Ahora podrás dedicarte al incremento de exclusivas, y nosotros nos enfocaremos en que tus clientes cierren contrato contigo y obtengan la casa de tus sueños</p>
	    </div>
	</div>
	<div class="container container-inmobiliaria">
	    <div class="col-md-6 col-inmobiliarias-icon">
	        <h4>Tú ganas.</h4>
	    </div>
	    <div class="col-md-6 col-inmobiliarias-desc">
	        <p>Tu proceso de venta será más eficiente, ya que podrás enfocarte en ofertar tus productos mientras nosotros nos encargaremos en facilitarle la compra a tus clientes</p>
	    </div>
	</div>
	<div class="container container-inmobiliaria">
	    <div class="col-md-6 col-inmobiliarias-icon">
	        <h4>Tus clientes ganan.</h4>
	    </div>
	    <div class="col-md-6 col-inmobiliarias-desc">
	        <p>Al ser asesorados por un broker SOC maximizarán los beneficios de su perfil, ya que serán postulados y dirigidos a la mejor opción para ellos.</p>
	    </div>
	</div>
	<div class="container container-inmobiliaria">
	    <div class="col-md-6 col-inmobiliarias-icon">
	        <h4>Todos ganamos.</h4>
	    </div>
	    <div class="col-md-6 col-inmobiliarias-desc">
	        <p>Desarrollamos estándares de calidad para fomentar y asegurar nuestro compromiso: hacer un equipo altamente efectivo.</p>
	    </div>
	</div>
</div>
<script type="text/javascript" async="async" defer="defer" src="https://dattachat.com/chat/cargar/wid/55f2f4f6d5b0b297684484" ></script> <a href="javascript:;" onclick="dcJs.startSend()"> <img style="border:0px;" id="dc_ImgStatus" src="https://dattachat.com/chat/img/wid/55f2f4f6d5b0b297684484" /></a>
{% endblock %}
