{% extends "main.html" %}

{% block title %}SOC{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
<div class="page p-soc">
  	{% include 'components/menu-header.html' %}
  	<div class="directores">
		<div>
			<p class="title_section">Conócenos</p>
			<div></div>
			<p>Hacer un equipo es hacer una empresa</p>
		</div>
	</div>
	<div class="container_directores">
		<div class="soc">
			<div>
				<p class="titleS">Misión.</p>	
				<p>Desarrollar asesores especialistasde crédito.</p>
			</div>
			<div>
				<p class="titleS">Visión.</p>
				<p>Ser un referente de calidad enasesoría de crédito.</p>
			</div>
		</div>
		<div class="soc">
			<div>
				<p class="titleS">Cultura SOC.</p>
				<p>Trabajar con los más altosestándares de servicio, tecnología depunta y capacitación constanteorientada a una atención con calidadhumana, sensible, confiable yprofesional.</p>
			</div>
			<div>
				<p class="titleS">Somos una red deespecialistas.</p>	
				<p>Ofrecemos asesoría profesional parafacilitar 
	la obtención de la mejor opción de crédito que cadacliente necesita..</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}