{% extends "main.html" %}

{% block title %}SOC{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
<div class="page p-soc">
  	{% include 'components/menu-header.html' %}
  	<div class="directores">
		<div>
			<p class="title_section">Conócenos</p>
			<div></div>
			<p>Hacer un equipo es hacer una empresa</p>
		</div>
	</div>
	<div class="container_directores">
		<div class="soc">
			<div>
				<p class="titleS">Misión.</p>	
				<p>Desarrollar asesores especialistas de crédito.</p>
			</div>
			<div>
				<p class="titleS">Visión.</p>
				<p>Ser un referente de calidad en asesoría de crédito.</p>
			</div>
		</div>
		<div class="soc">
			<div>
				<p class="titleS">Cultura SOC.</p>
				<p>Trabajar con los más altos estándares de servicio, tecnología de punta y capacitación constante orientada a una atención con calidad humana, sensible, confiable y profesional.</p>
			</div>
			<div>
				<p class="titleS">Somos una red de especialistas.</p>	
				<p>Ofrecemos asesoría profesional para facilitar 
	la obtención de la mejor opción de crédito que cada cliente necesita.</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}