Options +FollowSymLinks
DirectoryIndex /public/index.php
RewriteEngine on

RewriteCond %{DOCUMENT_ROOT}/public/$1 -f
RewriteCond %{DOCUMENT_ROOT}/$1 !index.php
RewriteRule ^(.*)$ /public/$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . /public/index.php [L] 