{% extends "main.html" %}

{% block title %}Blog{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
{% include 'components/menu-header.html' %}
<div class="page p_blog_nota nota">
	<div class="nota-general">
		<div class="contenido-nota">
			<h1>{{ post.post_title }}</h1>
			<p class="date">Posted on {{ post.post_date }} by SOC Asesores Hipotecarios</p>
			<img class="post-image" src="{{ post.post_image }}">
			<ul class="redes">
				<li>Compartir nota</li>
    		    <li>
    		        <a href="https://www.facebook.com/sharer/sharer.php?u={{ base_path }}blog/nota/{{ post.url_tag }}" target="_blank">
    		            <img src="{{ base_path }}img/footer/face.png">
    		        </a>
    		    </li>
    		    <li>
    		        <a href="https://twitter.com/home?status={{ base_path }}blog/nota/{{ post.url_tag }}" target="_blank">
    		            <img src="{{ base_path }}img/footer/tw.png">
    		        </a>
    		    </li>
    		    <li>
    		        <a href="https://www.linkedin.com/shareArticle?url={{ base_path }}blog/nota/{{ post.url_tag }}" target="_blank">
    		            <img src="{{ base_path }}img/footer/in.png">
    		        </a>
    		    </li>
    		    <li>
    		        <a href="https://plus.google.com/share?url={{ base_path }}blog/nota/{{ post.url_tag }}" target="_blank">
    		            <img src="{{ base_path }}img/footer/gmas.png">
    		        </a>
    		    </li>
    		</ul>
			<br>
            <div class="post-content">
                {{ post.post_content | raw }}
            </div>
			<!--div class="comentario">
				<p>Deja un comentario</p>
				<p>Tu dirección de correo electrónico no será publicada. Los campos necesarios están marcados *</p>
				<form>
					<textarea placeholder="Comentario"></textarea>
					<input type="text" placeholder="Nombre*">
					<input type="text" placeholder="E-mail*">
					<button>Publicar comentario</button>
				</form>
			</div-->
		</div>
		<div class="notas-recientes">
			<div>
				<form>
					<input type="search" placeholder="Buscar...">
				</form>
				<p>ÚLTIMAS ENTRADAS</p>
				<ul>
					<li><a href="">Banca Afirme y SOC hacen más fácil el crédito de liquidez empresarial</a></li>
					<li><a href="">Las lecciones de House of Cards para que elijas tu crédito hipotecario</a></li>
					<li><a href="">Crédito Hipotecario Empresarial, la nueva manera de incrementar tu patrimonio</a></li>
					<li><a href="">Encuentra tu casa ideal</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
{% endblock %}