{% extends "main.html" %}

{% block title %}Blog{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
{% include 'components/menu-header.html' %}
<div class="page p_blog_nota nota">
	<div class="nota-general">
		<div class="contenido-nota">
			<h1></h1>
			<!--p class="date">Posted on 24 mayo, 2016 by SOC Asesores Hipotecarios</p-->
			<img class="post-image" src="">
			<ul class="redes">
				<li>Compartir nota</li>
    		    <li>
    		        <a href="https://www.facebook.com/SOCAsesores/?ref=ts&fref=ts" target="_blank">
    		            <img src="./img/footer/face.png">
    		        </a>
    		    </li>
    		    <li>
    		        <a href="https://twitter.com/SOCasesores?lang=es" target="_blank">
    		            <img src="./img/footer/tw.png">
    		        </a>
    		    </li>
    		    <li>
    		        <a href="https://www.youtube.com/channel/UCUzn3H-tWe8vrveeYDKqJGw" target="_blank">
    		            <img src="./img/footer/ytube.png">
    		        </a>
    		    </li>
    		    <li>
    		        <a href="" target="_blank">
    		            <img src="./img/footer/in.png">
    		        </a>
    		    </li>
    		    <li>
    		        <a href="https://plus.google.com/+SOCCr%C3%A9ditoenti_SOC_Asesores/posts" target="_blank">
    		            <img src="./img/footer/gmas.png">
    		        </a>
    		    </li>
    		</ul>
			<br>
            <div class="post-content">
                <p></p>
            </div>
			<div class="">
				<p>Síguenos en nuestras redes sociales:</p>
				<ul class="redes">
    			    <li>
    			        <a href="https://www.facebook.com/SOCAsesores/?ref=ts&fref=ts" target="_blank">
    			            <img src="./img/footer/face.png">
    			        </a>
    			    </li>
    			    <li>
    			        <a href="https://twitter.com/SOCasesores?lang=es" target="_blank">
    			            <img src="./img/footer/tw.png">
    			        </a>
    			    </li>
    			    <li>
    			        <a href="https://www.youtube.com/channel/UCUzn3H-tWe8vrveeYDKqJGw" target="_blank">
    			            <img src="./img/footer/ytube.png">
    			        </a>
    			    </li>
    			    <li>
    			        <a href="" target="_blank">
    			            <img src="./img/footer/in.png">
    			        </a>
    			    </li>
    			    <li>
    			        <a href="https://plus.google.com/+SOCCr%C3%A9ditoenti_SOC_Asesores/posts" target="_blank">
    			            <img src="./img/footer/gmas.png">
    			        </a>
    			    </li>
    			</ul>
    			<!--p>También te puede interesar...</p>
    			<ul class="interesante">
    				<li>
    					<img src="./img/body/che-blog.jpg">
    					<a href="">Crédito Hipotecario Empresarial, la nueva manera de incrementar tu patrimonio</a>
    				</li>
    				<li>
    					<img src="./img/body/CHE.jpg">
    					<a href="">Compra tu oficina ¡No rentes más!</a>
    				</li>
    				<li>
    					<img src="./img/body/empresaspyme.jpg">
    					<a href="">PyMEs pagan más impuestos por desconocimiento</a>
    				</li>
    			</ul-->
            </div>
			<!--div class="comentario">
				<p>Deja un comentario</p>
				<p>Tu dirección de correo electrónico no será publicada. Los campos necesarios están marcados *</p>
				<form>
					<textarea placeholder="Comentario"></textarea>
					<input type="text" placeholder="Nombre*">
					<input type="text" placeholder="E-mail*">
					<button>Publicar comentario</button>
				</form>
			</div-->
		</div>
		<div class="notas-recientes">
			<div>
				<form>
					<input type="search" placeholder="Buscar...">
				</form>
				<p>ÚLTIMAS ENTRADAS</p>
				<ul>
					<li><a href="">Banca Afirme y SOC hacen más fácil el crédito de liquidez empresarial</a></li>
					<li><a href="">Las lecciones de House of Cards para que elijas tu crédito hipotecario</a></li>
					<li><a href="">Crédito Hipotecario Empresarial, la nueva manera de incrementar tu patrimonio</a></li>
					<li><a href="">Encuentra tu casa ideal</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
{% endblock %}