{% extends "main.html" %}

{% block title %}Blog{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
<div class="page p-blog">
  {% include 'components/menu-header.html' %}
	<div class="blog">
		<div>
			<p class="title_section">Blog</p>
			<div></div>
			<p>Nuestro trabajo es informarte</p>
		</div>
	</div>
	<div class="container_blog">
		<div class="itemBlog">
			<div>
				<img src="./img/body/blog-pyme-saldos.jpg">
				<h1>Banca Afirme y SOC hacen más fácil el crédito de liquidez empresarial</h1>
				<a href="http://localhost:8000/nota.php" class="vnota">Ver nota</a>
				<p class="date">Posted on 24 mayo, 2016 by SOC Asesores Hipotecarios</p>
				<!--p>Reducen requisitos y ahora sólo solicitan comprobar ingresos únicamente con estados de cuenta. La mejor 	tasa del mercado: 12% fija. Banca Afirme decidió agilizar el trámite y los requisitos para q...</p-->
			</div>
	
			<div>
				<img src="./img/body/house-of-cards-blog.jpg">
				<h1>Las lecciones de House of Cards para que elijas tu crédito hipotecario</h1>
				<a href="" class="vnota">Ver nota</a>
				<p class="date">Posted on 18 mayo, 2016 by SOC Asesores Hipotecarios</p>
				<!--p>Aunque el título de la famosa serie lleva explícita la palabra “Casa” (House), no significa que el 	programa gire en torno a cualquier tipo de casa. El mismo Francis Underwood dice que es una ton...</p-->
			</div>
			<div>
				<img src="./img/body/che-blog.jpg">
				<h1>Crédito Hipotecario Empresarial, la nueva manera de incrementar tu patrimonio</h1>
				<a href="" class="vnota">Ver nota</a>
				<p class="date">Posted on 18 mayo, 2016 by SOC Asesores Hipotecarios</p>
				<!--p>Por años, los dueños de pequeñas y medianas empresas (Pymes) se han visto en la necesidad de rentar 	inmuebles para establecer, según su giro, su oficina, fábrica o laboratorio, entre otros. Sin e...</p-->
			</div>
			<div>
				<img src="./img/body/casa-ideal-blog.jpg">
				<h1>Encuentra tu casa ideal</h1>
				<a href="" class="vnota">Ver nota</a>
				<p class="date">Posted on 17 mayo, 2016 by SOC Asesores Hipotecarios</p>
				<!--p>Por Alfa Inmobiliaria A pesar de que en la actualidad existe una amplia oferta de viviendas, eso no 	significa que todos los inmuebles son excelentes inversiones. Y aunque muchas pudieran parecer una g...</p-->
			</div>
			<div>
				<img src="./img/body/open-house-blog.jpg">
				<h1>Y… ¿qué regalo en un open house?</h1>
				<a href="" class="vnota">Ver nota</a>
				<p class="date">Posted on 16 mayo, 2016 by SOC Asesores Hipotecarios</p>
				<!--p>Por REMAX La compra de una casa es motivo de mucha alegría, tanto, que desde la edad media se llevaba a 	cabo una tradición que buscaba “calentar” el nuevo sitio para l1313quilinos que estaban po...</p-->
			</div>
			<div>
				<img src="./img/body/cocina-blog.jpg">
				<h1>¿Cómo conseguir que tu cocina parezca más grande?</h1>
				<a href="" class="vnota">Ver nota</a>
				<p class="date">Posted on 13 mayo, 2016 by SOC Asesores Hipotecarios</p>
				<!--p>¿Quieres saber qué espacio es uno de los más importantes en un hogar? Por supuesto que la cocina y en 	muchas ocasiones, a pesar de su importancia, suele ser un lugar muy pequeño. Pero en esta ár...</p-->
			</div>
			<ul>
				<li><a href="" class="box">1-10</a></li>
				<li><a href="">1</a></li>
				<li><a href="">2</a></li>
				<li><a href="">3</a></li>
				<li><a href="">4</a></li>
				<li><a href="">5</a></li>
				<li><a href="">6</a></li>
				<li><a href="" class="box">10</a></li>
			</ul>
		</div>
	</div>
	<div class="second-section">
		<div>
			<form>
				<input type="search" placeholder="Buscar...">
			</form>
			<p>ÚLTIMAS ENTRADAS</p>
			<ul>
				<li><a href="">Banca Afirme y SOC hacen más fácil el crédito de liquidez empresarial</a></li>
				<li><a href="">Las lecciones de House of Cards para que elijas tu crédito hipotecario</a></li>
				<li><a href="">Crédito Hipotecario Empresarial, la nueva manera de incrementar tu patrimonio</a></li>
				<li><a href="">Encuentra tu casa ideal</a></li>
			</ul>
		</div>
	</div>
{% endblock %}
