{% extends "main.html" %}

{% block title %}Blog{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
<div class="page p-blog posts_list_view">
  {% include 'components/menu-header.html' %}
	<div class="blog">
		<div>
			<p class="title_section">Blog</p>
			<div></div>
			<p>Nuestro trabajo es informarte</p>
		</div>
	</div>
	<div class="container_blog">
		{% for post in posts %}
		<div>
			<img src="{{ post.post_image }}">
			<h1>{{ post.post_title }}</h1>
			<p class="date">Posted on {{ post.post_date }} by SOC Asesores Hipotecarios</p>
			{{ post.excerpt | raw }}...
			<a href="{{ base_path }}blog/nota/{{ post.url_tag }}">Ver nota</a>
		</div>
		{% else %}
		<h1>No hay posts que coincidan con esta búsqueda</h1>
		{% endfor %}
		<ul>
			{% if page - 1 > 0 %}
			<li><a href="{{ base_path }}blog/{{ page - 1 }}"><</a></li>
			{% endif %}
			{% for i in 1..pages %}
				{% if i == page %}
				<li><a class="box" href="{{ base_path }}blog/{{ i }}">{{ i }}</a></li>
				{% else %}
				<li><a href="{{ base_path }}blog/{{ i }}">{{ i }}</a></li>
				{% endif %}
			{% endfor %}
			{% if page + 1 < pages %}
			<li><a href="{{ base_path }}blog/{{ page + 1 }}">></a></li>
			{% endif %}
		</ul>
	</div>
	<div class="second-section">
		<div>
			<form method="GET" action="{{ base_path }}blog">
				<input type="search" name="keyword" placeholder="Buscar...">
				<input type="submit">
			</form>
			<p>ÚLTIMAS ENTRADAS</p>
			<ul>
				{% for post in last %}
				<li><a href="{{ base_path }}blog/nota/{{ post.url_tag }}">{{ post.post_title }}</a></li>
				{% endfor %}
				<!--li><a href="">Banca Afirme y SOC hacen más fácil el crédito de liquidez empresarial</a></li>
				<li><a href="">Las lecciones de House of Cards para que elijas tu crédito hipotecario</a></li>
				<li><a href="">Crédito Hipotecario Empresarial, la nueva manera de incrementar tu patrimonio</a></li>
				<li><a href="">Encuentra tu casa ideal</a></li-->
			</ul>
		</div>
	</div>
{% endblock %}
