{% extends "main.html" %}

{% block title %}Blog{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
<div class="page p-blog posts_list_view">
  {% include 'components/menu-header.html' %}
	<div class="blog">
		<div>
			<p class="title_section">Blog</p>
			<div></div>
			<p>Nuestro trabajo es informarte</p>
		</div>
	</div>
	<div class="container_blog">
		<div class="itemBlog">
			<!--ul>
				<li><a href="" class="box">1-10</a></li>
				<li><a href="">1</a></li>
				<li><a href="">2</a></li>
				<li><a href="">3</a></li>
				<li><a href="">4</a></li>
				<li><a href="">5</a></li>
				<li><a href="">6</a></li>
				<li><a href="" class="box">10</a></li>
			</ul-->
		</div>
	</div>
	<div class="second-section">
		<div>
			<form>
				<input type="search" placeholder="Buscar...">
			</form>
			<p>ÚLTIMAS ENTRADAS</p>
			<ul>
				<li><a href="">Banca Afirme y SOC hacen más fácil el crédito de liquidez empresarial</a></li>
				<li><a href="">Las lecciones de House of Cards para que elijas tu crédito hipotecario</a></li>
				<li><a href="">Crédito Hipotecario Empresarial, la nueva manera de incrementar tu patrimonio</a></li>
				<li><a href="">Encuentra tu casa ideal</a></li>
			</ul>
		</div>
	</div>
{% endblock %}
