{% extends "admin.html" %}

{% block title %}Admin{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
	<div class="content-usuario">
		<div>
			<p class="titulo">Usuario 10</p>
			<table>
				<thead>
					<tr class="back-white">
						<td>Nombre de usuario</td>
						<td>Email</td>
						<td>Fecha de creación</td>
						<td></td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>admin</td>
						<td>admin@socasesores.com</td>
						<td>2016-01-22 18:54:30</td>
						<td class="editInput"><a href="">Editar</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}