{% extends "admin.html" %}
{% block title %}Dashboard{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
	{{ parent() }}
	<div class="page microsite content-usuario broker-edit">
		<form class="datosUsuario microsite" id="newSiteForm">
			<label>Nombre del sitio</label>
			<input name="name" id="siteName" type="text" value="{{ site.title }}" placeholder="Nombre del sitio" class="edit_input">
			<label>Descripción</label>
			<textarea name="content" id="siteContent" placeholder="Descripción">{{ site.content }}</textarea>
			
			<label>Latitud y longitud</label>
			<input name="latlon" id="siteLatlon" type="text" value="{{ site.latlon }}"  placeholder="19.4299998,-99.1377792" class="edit_input"><label>Dirección</label>
			<input name="address" id="siteAddress" type="text" value="{{ site.address }}"  placeholder="Dirección" class="edit_input">
			<label>Teléfonos (Sin espacios y separados por una coma)</label>
			<input name="phone" id="siteTelephone" type="tel" value="{{ site.phones }}"  placeholder="Teléfono" class="edit_input">
			<label>Correos (Sin espacios y separados por una coma)</label>
			<input name="phone" id="siteTelephone" type="tel" value="{{ site.phones }}"  placeholder="Teléfono" class="edit_input">
			<div class="user addSite">Guardar Cambios</div>
			<a href="{{ base_path }}{{ site.url }}" class="user">Ver Sitio</a>
		</form>
	</div>
{% endblock %}
