{% extends "admin.html" %}
{% block title %}Admin{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
	{{ parent() }}
	<div class="page user-sites content-usuarioAdmin">
		<div class="profile">
			<div>
				<img src="{{ base_path }}img/body/brokerImg.png">
			</div>
			<div>
				<p>{{ user.name }}</p>
				<p>{{ user.company }}</p>
				<p>{{ user.email }}</p>
				<p>{{ user.phone }}</p>
			</div>
		</div>
		<div class="sites">
			<!--input type="search" placeholder="buscar" class="search"-->
			<a href="" class="plusUser"><span></span>+ Agregar sitio</a>
			<p class="titulo">Micrositios</p>
			<div class="responses"></div>
			<div class="container-sites">
			{% if sites.total > 0 %}
				{% for site in sites.items %}
				<div class="site">
					<div>
						<p>{{ site.title }}</p>
						<a target="_blank" href="{{ base_path }}{{ site.url }}">visitar sitio</a>
					</div>
					<div>
						<ul>
							<li><a class="edit" data-site="{{ site.id }}" href="#edit">Editar</a></li>
							<!--li><a class="delete" data-site="{{ site.id }}" href="#delete">Eliminar</a></li-->
						</ul>
					</div>
				</div>
				{% endfor %}
			{% else %}
			<div class="none">Este usuario aún no cuenta con sitios registrados.</div>
			{% endif %}
			</div>
		</div>
	</div>
	<div class="agregarUsuario">
		<form class="datosUsuario microsite" id="newSiteForm">
			<a href=""><img src="{{ base_path }}img/body/close.png" class="close"></a>
			<input id="userID" name="user_id" type="hidden" value="{{ user.id }}" />
			<label>Nombre del sitio</label>
			<input id="siteName" name="title" type="text" placeholder="Nombre del sitio" class="edit_input">
			<label>Descripción</label>
			<textarea id="siteContent" name="content" placeholder="Descripción" class=""></textarea>
			<label>Imagenes del slider</label>
		    <br /><img class="preview1" width="400" src=""><br />
		    <div class="dragdrop slider1"></div>
		    <br /><img class="preview2" width="400" src=""><br />
		    <div class="dragdrop slider2"></div>
		    <br /><img class="preview3" width="400" src=""><br />
		    <div class="dragdrop slider3"></div>
		    <label>Imagenes de apoyo</label>
		    <br /><img class="psupport1" width="400" src=""><br />
		    <div class="dragdrop support1"></div>
		    <br /><img class="psupport2" width="400" src=""><br />
		    <div class="dragdrop support2"></div>
		    <br /><img class="psupport3" width="400" src=""><br />
		    <div class="dragdrop support3"></div>
			<label>Estado</label>
			<select id="siteState" name="state_id" placeholder="Selecciona un Estado" class="edit_input">
			{% for item in states %}
            	<option value={{ item.id }}>{{ item.name }}</option>
            {% endfor %}
			</select>
			<label>Ciudad</label>
			<input id="siteCity" name="city" type="text" placeholder="Ciudad" class="edit_input">
			<label>Colonia</label>
			<input id="siteSettlement" name="settlement" type="text" placeholder="Colonia" class="edit_input">
			<label>Dirección</label>
			<input id="siteAddress" name="address" type="text" placeholder="Dirección" class="edit_input">
			<label>Coordenadas</label>
			<input id="siteLatlon" name="latlon" type="text" placeholder="Locación" class="edit_input">
			<label>Teléfonos (Separados por una coma)</label>
			<input id="siteTelephone" name="phones" type="tel" placeholder="Teléfono" class="edit_input">
			<label>Emails (Separados por una coma)</label>
			<input id="siteMails" name="emails" type="text" placeholder="Correos Electrónicos" class="edit_input">
			<div class="user addSite">Crear Micrositio</div>
		</form>
	</div>
	<div class="editarUsuario">
		<form class="datosUsuario microsite update-site" id="newSiteForm">
			<a href=""><img src="{{ base_path }}img/body/close.png" class="close"></a>
			<input id="e_siteID" name="id" type="hidden" />
			<input id="e_siteOrigin" name="origin" value="user" type="hidden" />
			<label>Nombre del sitio</label>
			<input id="e_siteName" name="title" type="text" placeholder="Nombre del sitio" class="edit_input">
			<label>Descripción</label>
			<textarea id="e_siteContent" name="content" placeholder="Descripción" class=""></textarea>
			<label>Imagenes del slider</label>
		    <br /><img class="preview1" width="400" src=""><br />
		    <div class="dragdrop slider1"></div>
		    <br /><img class="preview2" width="400" src=""><br />
		    <div class="dragdrop slider2"></div>
		    <br /><img class="preview3" width="400" src=""><br />
		    <div class="dragdrop slider3"></div>
		    <label>Bullets</label>
		    <div class="container">
		    	<div class="col-4">
		    		<img class="psupport1" width="400" src=""><br />
		    		<div class="dragdrop support1"></div>
		    		<textarea name="bullet1"></textarea>
		    	</div>
		    	<div class="col-4">
		    		<img class="psupport2" width="400" src=""><br />
		    		<div class="dragdrop support2"></div>
		    		<textarea name="bullet2"></textarea>
		    	</div>
		    	<div class="col-4">
		    		<img class="psupport3" width="400" src=""><br />
		    		<div class="dragdrop support3"></div>
		    		<textarea name="bullet3"></textarea>
		    	</div>
		    </div>
			<label>Estado</label>
			<select id="e_siteState" name="state_id" placeholder="Selecciona un Estado" class="edit_input">
			{% for key,value in states %}
          		<option value="{{ value.id }}">{{ value.name }}</option>
      		{% endfor %}
			</select>
			<label>Ciudad</label>
			<input id="e_siteCity" name="city" type="text" placeholder="Ciudad" class="edit_input">
			<label>Colonia</label>
			<input id="e_siteSettlement" name="settlement" type="text" placeholder="Colonia" class="edit_input">
			<label>Dirección</label>
			<input id="e_siteAddress" name="address" type="text" placeholder="Dirección" class="edit_input">
			<label>Coordenadas</label>
			<input id="e_siteLatlon" name="latlon" type="text" placeholder="Locación" class="edit_input">
			<label>Teléfonos (Separados por una coma)</label>
			<input id="e_siteTelephone" name="phones" type="tel" placeholder="Teléfono" class="edit_input">
			<label>Emails (Separados por una coma)</label>
			<input id="e_siteMails" name="emails" type="text" placeholder="Correos Electrónicos" class="edit_input">
			<div class="user updateSite">Actualizar Información</div>
		</form>
	</div>
{% endblock %}