{% extends "admin.html" %}
{% block title %}Dashboard{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
	{{ parent() }}
	<div class="page microsite content-usuario broker-edit">
		<form class="datosUsuario microsite" id="newSiteForm">
			<input id="siteName" type="text" placeholder="Nombre del sitio" class="edit_input">
			<label>URl para el sitio</label>
			<input id="siteUrl" type="text" placeholder="URL del sitio" class="edit_input">
			<label>Descripción</label>
			<textarea id="siteContent" placeholder="Descripción" class=""></textarea>
			<label>Localidad</label>
			<select id="siteState" placeholder="Selecciona un Estado" class="edit_input">
				{% for key,value in states %}
				<option value="{{ value.id }}">{{ value.name }}</option>
				{% endfor %}
			</select>
			<label>Dirección</label>
			<input id="siteAddress" type="text" placeholder="Dirección" class="edit_input">
			<label>Teléfono</label>
			<input id="siteTelephone" type="tel" placeholder="Teléfono" class="edit_input">
			<div class="user addSite">Guardar Cambios</div>
		</form>
	</div>
{% endblock %}
