{% extends "main.html" %}
{% block title %}Detalle{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
	<div class="page p-detalle">
    <div class="head_micrositio">
      <img src="./img/micrositios/logo.png" alt="..." class="logo">
      <h1>{{site.title}}</h1>
      {% if feedback != "" %}
        <div class="response">{{ feedback }}</div>
      {% endif %}
    </div>
    <center>
      <div class="head_micro">
        <div id="carousel-example-generic" class="carousel slide microUsuario" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            {% if slider[3] != '' %}
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
            {% endif %}
            {% if slider[4] != '' %}
            <li data-target="#carousel-example-generic" data-slide-to="4"></li>
            {% endif %}
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner micro" role="listbox">
            <div class="item active">
              <img src="{{ slider ? slider[0] : './img/micrositios/asesor.jpg' }}" alt="...">
            </div>
            <div class="item">
              <img src="{{ slider ? slider[1] : './img/micrositios/mejora.jpg' }}" alt="...">
            </div>
            <div class="item">
              <img src="{{ slider ? slider[2] : './img/micrositios/premia.jpg' }}" alt="...">
            </div>
            <div class="item">
              <img src="{{ slider ? slider[3] : './img/micrositios/quince.jpg' }}" alt="...">
            </div>
            <div class="item">
              <img src="{{ slider ? slider[4] : './img/micrositios/widget.jpg' }}" alt="...">
            </div>
          </div>
        </div>
      </div>
      <div class="contenido_micrositio" id="contenidoMircoUser">
        <p class="titleMicrositio">Asesores Hipotecarios</p>
        <p class="thecontent">{{site.content}}</p>
        <ul>
          <li>
            <img src="{{ support.images and support.images[0] != '' ? support.images[0] : './img/micrositios/img1.jpg' }}">
            <p>{{ support.quotes and support.quotes[0] != '' ? support.quotes[0] : 'Nos especializamos en ayudarte a encontrar y elegir el mejor crédito hipotecario; para que compres tú casa, un terreno, cambies tu hipoteca' }}</p>
          </li>
          <li>
            <img src="{{ support.images and support.images[1] != '' ? support.images[1] : './img/micrositios/img2.jpg' }}">
            <p>{{ support.quotes and support.quotes[1] != '' ? support.quotes[1] : 'Contamos con la red más grande del país. Ellos tienen la capacidad de analizar tu perfil para conocer a fondo tus necesidades y así ofrecer la información necesaria acerca de las instituciones financieras para que tú puedas analizar y seleccionar la opción que más te convenga.' }}</p>
          </li>
          <li>
            <img src="{{ support.images and support.images[2] != '' ? support.images[2] : './img/micrositios/img3.jpg' }}">
            <p>{{ support.quotes and support.quotes[2] != '' ? support.quotes[2] : 'Te recomendamos prestar atención a diversos factores como lo son, los plazos, la tasa de interés –fija o variable-, el enganche, la moneda, los seguros que lo integran, las comisiones, gastos notariales y el número de mensualidades.' }}</p>
          </li>
        </ul>
      </div>
      <div class="simulador micrositio_simulador" id="simluadorUser">
        <p class="titleSimulador">Simula tu crédito</p>
        <p class="text_simlador">En SOC, te acompañamos durante el trámite de tu crédito garantizándote una asesoría experta SIN COSTO.</p>
        <div class="box">
          <div class="form">
            <form id="simulador-form" action="{{ base_path }}resultado_simulador" method="GET">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <input type="hidden" name="micrositio" value="true">
                <input type="text" placeholder="Nombre" name="name" id="name">
                <input type="number" placeholder="Teléfono" name="phone" id="number">
                <input type="text" placeholder="Correo" name="mail" id="mail">
                <label>Estado</label>
                <select name="state" id="state">
                  <option selected="selected" value="-1">SELECCIONE UN ESTADO</option>
                  {% for item in states %}
                  <option value={{ item.id }}>{{ item.name }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <input name="value" type="number" placeholder="Valor del Inmueble" id="value">
                <input name="hitch" type="number" placeholder="Enganche" id="hitch">
                <label>Tipo de Mensualidad</label>
                <select name="paytype" id="paytype" placeholder="Selecciona tipo de mensualidad">
                  <option value="-1">-</option>
                  <option value="fija">Fija</option>
                  <option value="creciente">Creciente</option>
                </select>
                <label>Plazo</label>
                <select name="paytime" id="paytime" placeholder="Selecciona ek tiempo de pago">
                  <option value="-1">-</option>
                  <option value="20">20 años</option>
                  <option value="15">15 años</option>
                </select>
                <button type="submit" class="send">Enviar</button>
              </div>
            </form>
          </div>
          <p class="aviso">Respecto al manejo de sus datos personales favor de revisar el Aviso de Privacidad, así como los Términos y Condiciones incluidos en la presente página.</p>
          <p class="aviso check"><span><input type="checkbox" checked class="aviso"></span> Acepto Términos y Condiciones , así como el Aviso de Privacidad.</p>
        </div>
      </div>
    </center>
    <div class="datos clienteMicro">
        <form action="{{base_path}}site/contact/{{site.url}}" method="POST">
            <p class="contact">Contacto</p>
            <input type="text" placeholder="Nombre" name="name" class="inputBroker">
            <input type="number" placeholder="Teléfono" name="phone" class="inputBroker">
            <input type="text" placeholder="Correo" name="mail" class="inputBroker">
            <textarea class="inputBroker" name="message" placeholder="Deja un comentario"></textarea>
            <input type="submit" class="send">
        </form>
        <iframe src="https://maps.google.com/maps?q={{site.latlon}}&output=embed" width="800" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
{% endblock %}
